@model IEnumerable<DomingoApp.Models.CustomerInformation>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*  (W3schools, 2021) and //(4. Continuation and close off, 2021) *@

@**This is goting to display all the customer information in a table on the index page*@
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
        }
    </style>
</head>


<body>
    <h1 style="text-shadow: 8px 8px 5px #FA8072; font-family:Arial">Customer Index</h1>
    <p>In the table below you can view all the customers that are in the database, as well as their details. In the last column you have the option to view a customers details, update the customers details or delete the customers details.</p>
    <p><a asp-action="Create" class="btn btn-success"> Add New Customer </a></p>

    <table style="width:100%">
        <tr>
            <th>CustomerID</th>
            <th>Customer Name</th>
            <th>Customer Surname</th>
            <th>Customer Address</th>
            <th>Read/Update/Delete</th>
        </tr>

        @foreach (var custInfo in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => custInfo.CustomerID)</td>
                <td>@Html.DisplayFor(modelItem => custInfo.CustomerName)</td>
                <td>@Html.DisplayFor(modelItem => custInfo.CustomerSurname)</td>
                <td>@Html.DisplayFor(modelItem => custInfo.CustomerAddress)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@custInfo.CustomerID" class="btn btn-light">Details</a>
                    <a asp-action="Update" asp-route-id="@custInfo.CustomerID" class="btn btn-info">Update</a>
                    <a asp-action="Delete" asp-route-id="@custInfo.CustomerID" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </table>

    <style>
        .butt {
            color: #FA8072;
        }
    </style>

    <div>
        <a class="butt" asp-area="" asp-controller="Home" asp-action="Index">Back to Home Page</a>
    </div>

</body>
</html>
